<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Agência Poonto</title>
  <meta name="Poonto" content="Priorizando sempre entregar a excelência a Agencia Poonto tem como missão oferecer inovação e eficiência em seus serviços de desenvolvimento de sistema e criação de campanhas e identidade visual. Buscando os melhores caminhos para as soluções de problemas, pensando sempre fora do senso comum.">
  <meta name="viewport">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link rel="sortcut icon" href="./images/favicon_1.ico" type="image/x-icon" />
  <link rel="sortcut icon" href="./images/favicon.png" type="image/gif" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">  
</head>


      

      
 

   <body>
    <%- body %>
     
   </body>
     
      
  

  <footer>
    
    <div class="col-md-12 footer-items ">
      <div class="col-md-4">
        <h4>LOCALIZAÇÃO</h4>
        <p>Rua Coronel João Franco Mourão, <br> 56, centro - Leme, SP</p>
      </div>
      <div class="col-md-4">
        <h4>HORÁRIO</h4>
        <p>SEG-SEX <br>
          10:00 ás 18:00</p>
      </div>
      <div class="col-md-4 ">
        <h4>FALE CONOSCO</h4>
        <p><a href="https://api.whatsapp.com/send?phone=5519993417478&text=Ol%C3%A1%2C%20quero%20desenvolver%20uma%20ideia">WhatsApp</a>  </p>
        
      </div>

     
       
       
      
    
      
  </div>

</footer>

</html>  