<%- contentFor('body') %>
<header class="home_poonto">
    <div class="conteudo_header_poonto">
        <div class="col-md-12 header_poonto">
            <div class="col-md-6">
                <div class="icon-logo">
                    <a href="/"><img src="./images/poonto.png" alt="Agência Poonto"></a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class = "menu_poonto">
                    <li><a href="/#sobrenos"> SOBRE NÓS</a></li>
                    <li><a href=" /#servicos">SERVIÇOS</a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=5519993417478&text=Ol%C3%A1%2C%20quero%20desenvolver%20uma%20ideia"><span class="header_contato_span">CONTATO</span></a></li>
                </ul>
                <ul class = "menu_poonto_responsivo">
                    <li><a href="https://api.whatsapp.com/send?phone=5519993417478&text=Ol%C3%A1%2C%20quero%20desenvolver%20uma%20ideia"><span class="header_contato_span">CONTATO</span></a></li>
                </ul>

            </div>
        </div>
        <div class="col-md-12 title_poonto">
            <h2>PLANEJANDO, <br>
                CRIANDO E <br>
                DESENVOLVENDO <span class="title_span_poonto">IDEIAS</span>
            </h2>
        </div>
    </div>

</header>
<div class="index-introduction col-md-12" id="sobrenos">
    <div class="col-md-6">
        <img src="./images/sobrenos.png" alt="">
    </div>
    <div class="col-md-6 content-sobrenos">
        <h2>INOVAÇÃO</h2>
        <h3>DESIGN & TECNOLOGIA</h3>
        <p>Priorizando sempre entregar a excelência a <b> Agência Poonto</b> tem como missão oferecer inovação e eficiência em seus serviços. Buscando os melhores caminhos para as <b>soluções de problemas</b>, pensando sempre fora do senso comum.</p>
    </div>
 
      
   
</div>
<div class="servicos col-md-12" id="servicos">
    <div class="col-md-3 servicos-title">
        <h2> SERVIÇOS</h2>
        <h3> Conheça os nossos<br> serviços </h3>
        <button class="button-servico"> <a href="https://api.whatsapp.com/send?phone=5519993417478&text=Ol%C3%A1%2C%20quero%20desenvolver%20uma%20ideia">SAIBA MAIS</a></button>
    </div>
    <div class="col-md-9 servicos-cards-poonto">
        <div class="card-fileira">
            <div class="card" style="width: 50rem;">
               
                <div class="card-body">
                  <h2> <span> DESENVOLVIMENTO</span> <br> WEB & MOBILE</h2>
                  <div class="sublinhado-dev"></div>
                  <p class="card-text">Equipe de especialistas no desenvolvimento de plataformas e aplicativos, prontos para desenvolver a sua ideia.</p>
                </div>
              </div>
              <div class="card" style="width: 50rem;">
                <h2> BUSINESS <br> INTELIGENCE</h2>
                <div class="sublinhado-bi"></div>
                <div class="card-body">
                  <p class="card-text"> Transforme os dados gerados pelos seus clientes em informação e tome melhores decisões para o futuro da sua empresa.</p>
                </div>
              </div>
              <div class="card" style="width: 50rem;">
                <h2> CONSULTORIA <br> EM TI</h2>
                <div class="sublinhado-ti"></div>
                <div class="card-body">
                  <p class="card-text"> Precisa inovar a sua empresa e não sabe como? Tem uma ideia mas não como tirar ela do papel? Fale conosco, encontraremos uma solução juntos.</p>
                </div>
              </div>
        </div>
        <div class="card-fileira">
            <div class="card" style="width: 50rem;">
                <h2> IDENTIDADE <br> VISUAL</h2>
                <div class="sublinhado-id"></div>
                <div class="card-body">
                  <p class="card-text">A Identidade Visual é como seus clientes vão reconhecer a sua empresa.</p>
                </div>
              </div>
              <div class="card" style="width: 50rem;">
                <h2> UX/UI</h2>
                <div class="sublinhado-ui"></div>
                <div class="card-body">
                  <p class="card-text">Os produtos de software devem ser exclusivos, atraentes e fáceis de usar. Nossa equipe de UI/UX, criam conceitos baseados na identidade visual, protótipos e ótimas interfaces.</p>
                </div>
              </div>
              <div class="card" style="width: 50rem;">
                <h2> ANIMAÇÃO <br> 2D & 3D</h2>
                <div class="sublinhado-ani"></div>
                <div class="card-body">
                  <p class="card-text"> A apresentação do seu produto pode melhorar muito mais a experiência do cliente ao realizar a sua compra. Que tal criarmos um vídeo demonstrativo do seu produto?</p>
                </div>
              </div>
        </div>

    </div>
</div>

    